Pillow
PyAutoGUI
PyGetWindow
beautifulsoup4
colorama
comtypes
customtkinter
ddgs
discord.py
duckduckgo_search
google-genai
openpyxl
psutil
pycaw
pygame-ce
pyperclip
python-docx
python-dotenv
pypdf
requests
rich
send2trash
spotipy
winotify
flet
opencv-python
yt-dlp
youtube-transcript-api
